<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US"> <!--<![endif]-->
<head>

<!-- DEFAULT META TAGS -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Home Portfolio | Pond | Creative Page Template</title>
<!-- DEFAULT META TAGS -->

<!-- FONTS -->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
<!-- FONTS -->

<!-- CSS -->
<link rel="stylesheet" href="{{ asset('files/css/compiled.min.css') }}" type='text/css' media='all' />
<link rel="stylesheet" href="{{ asset('compiled/app/styles.min.css') }}" type='text/css' media='all' />
<!-- CSS -->

<!-- FAVICON -->
<link rel="shortcut icon" href="{{ asset('files/uploads/favicon.png') }}"/>
<!-- FAVICON -->

<!-- JQUERY LIBRARY -->
<script src="{{ asset('files/js/jquery-1.9.1.min.js') }}"></script>
<script src="{{ asset('files/js/jquery.easing.1.3.js') }}"></script>
<script src="{{ asset('files/js/jquery.easing.compatibility.js') }}"></script>
<!-- JQUERY LIBRARY -->

</head>

<body class="bordered">

<!-- BORDERS (Don't want any border? Delete the class bordered on the body and this part) -->
<div id="bodyborder-left"></div>
<div id="bodyborder-right"></div>
<div id="bodyborder-top"></div>
<div id="bodyborder-bottom"></div>
<!-- BORDERS -->

<!-- PAGELOADER -->
<div id="page-loader" class="text-light">
    <div class="page-loader-inner">
        {# <div class="loader-logo-name"><img src="{{ asset('files/uploads/pond-logo-light.png') }}" alt="Logo"/></div> #}
        <h6 class="alttitle title-minimal">Loading</h6>
    </div>
</div>
<!-- PAGELOADER -->

<!-- PAGE CONTENT -->
<div id="page-content">

	{% include 'header.html.twig' %}

    {% block title %}
    {% endblock title %}

    {% block flash %}
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endblock flash %}

    <!-- PAGEBODY -->
    <div class="page-body">
    	{% block body endblock %}
    </div> <!-- END .page-body -->
    <!-- PAGEBODY -->

    {% include 'footer.html.twig' %}
</div> <!-- END #page-content -->
<!-- PAGE CONTENT -->


<!-- SCRIPTS -->
<script type='text/javascript' src="{{ asset('compiled/app/libs.min.js') }}"></script>
<!-- SCRIPTS -->

</body>
</html>
