<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US"> <!--<![endif]-->
<head>

<!-- DEFAULT META TAGS -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Home Portfolio | Pond | Creative Page Template</title>
<!-- DEFAULT META TAGS -->

<!-- FONTS -->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<!-- FONTS -->

<!-- CSS -->
<link rel="stylesheet" id="default-style-css"  href="{{ asset('files/css/style.css') }}" type='text/css' media='all' />
<link rel='stylesheet' id='colored-style-css'  href="{{ asset('files/css/colored.css') }}" type='text/css' media='all' />
<link rel="stylesheet" id="owlcarousel-style-css"  href="{{ asset('files/css/owl.carousel.css') }}" type='text/css' media='all' />
<link rel="stylesheet" id="owltransitions-style-css"  href="{{ asset('files/css/owl.transitions.css') }}" type='text/css' media='all' />
<link rel='stylesheet' id='fancybox-style-css'  href="{{ asset('files/css/fancybox.css') }}" type='text/css' media='all' />
<link rel="stylesheet" id="fontawesome-style-css" href="{{ asset('files/css/font-awesome.min.css') }}" type="text/css" media="all" />
<link rel="stylesheet" id='rsplugin-style-css' href="{{ asset('files/rs-plugin/css/settings.css') }}" type="text/css" media="all" />
<link rel="stylesheet" id="pe-icons-style-css" href="{{ asset('files/css/pe-icon-7-stroke.css') }}" type="text/css" media="all" />
<link rel="stylesheet" id="mqueries-style-css"  href="{{ asset('files/css/mqueries.css') }}" type='text/css' media='all' />
<link rel="stylesheet" href="{{ asset('bundles/app/css/styles.css') }}" type='text/css' media='all' />
<!-- CSS -->

<!-- FAVICON -->
<link rel="shortcut icon" href="{{ asset('files/uploads/favicon.png') }}"/>
<!-- FAVICON -->

<!-- JQUERY LIBRARY -->
<script src="{{ asset('files/js/jquery-1.9.1.min.js') }}"></script>
<!-- JQUERY LIBRARY -->

</head>

<body class="bordered">

<!-- BORDERS (Don't want any border? Delete the class bordered on the body and this part) -->
<div id="bodyborder-left"></div>
<div id="bodyborder-right"></div>
<div id="bodyborder-top"></div>
<div id="bodyborder-bottom"></div>
<!-- BORDERS -->

<!-- PAGELOADER -->
<div id="page-loader" class="text-light">
    <div class="page-loader-inner">
        {# <div class="loader-logo-name"><img src="{{ asset('files/uploads/pond-logo-light.png') }}" alt="Logo"/></div> #}
        <h6 class="alttitle title-minimal">Loading</h6>
    </div>
</div>
<!-- PAGELOADER -->

<!-- PAGE CONTENT -->
<div id="page-content">

	{% include 'header.html.twig' %}

    {% block title %}
    {% endblock title %}

    {% block flash %}
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endblock flash %}

    <!-- PAGEBODY -->
    <div class="page-body">
    	{% block body endblock %}
    </div> <!-- END .page-body -->
    <!-- PAGEBODY -->

    {% include 'footer.html.twig' %}
</div> <!-- END #page-content -->
<!-- PAGE CONTENT -->


<!-- SCRIPTS -->
<script type='text/javascript' src="{{ asset('files/js/retina.js') }}"></script>
<script type='text/javascript' src="{{ asset('files/js/jquery.pace.js') }}"></script>
<script type='text/javascript' src="{{ asset('files/js/jquery.easing.1.3.js') }}"></script>
<script type='text/javascript' src="{{ asset('files/js/jquery.easing.compatibility.js') }}"></script>
<script type='text/javascript' src="{{ asset('files/js/jquery.bgvideo.min.js') }}"></script>
<script type='text/javascript' src="{{ asset('files/js/jquery.counter.min.js') }}"></script>
<script type='text/javascript' src="{{ asset('files/js/jquery.fancybox.pack.js') }}"></script>
<script type="text/javascript" src="{{ asset('files/rs-plugin/js/jquery.themepunch.tools.min.js') }} "></script>
<script type="text/javascript" src="{{ asset('files/rs-plugin/js/jquery.themepunch.revolution.min.js') }} "></script>
<script type='text/javascript' src="{{ asset('files/js/jquery.parallax.min.js') }}"></script>
<script type='text/javascript' src="{{ asset('files/js/jquery.isotope.min.js') }}"></script>
<script type='text/javascript' src="{{ asset('files/js/jquery.fitvids.min.js') }}"></script>
<script type='text/javascript' src="{{ asset('files/js/jquery.scroll.min.js') }}"></script>
<script type='text/javascript' src="{{ asset('files/js/jquery.visible.min.js') }}"></script>
<script type='text/javascript' src="{{ asset('files/js/jquery.owl.carousel.min.js') }}"></script>
<script type='text/javascript' src="{{ asset('files/js/pond-form.js') }}"></script>
<script type='text/javascript' src="{{ asset('files/js/pond-header.js') }}"></script>
<script type='text/javascript' src="{{ asset('files/js/script.js') }}"></script>
<!-- SCRIPTS -->

</body>
</html>
