{% extends 'base.html.twig' %}
{% block meta_title %}
<title>{{'about.title'|trans }}</title>
{% endblock %}

{% block meta_description %}
    <meta name="description" content="{{'about.description'|trans}}" />
{% endblock %}
{% block body %}
    <!-- ABOUT SECTION -->
    <section id="about" class="notoppadding">
        <div class="section-inner">
            <div id="agency-split" class="split-section clearfix" style="background: #f7f7f7;">
                <div class="split-left split-half">
                    <div class="split-mini-content">
                        <div class="spacer spacer-medium"></div>
                        <h5 class="title-minimal">{{ 'about_page.title'|trans }}</h5>
                        <div class="spacer spacer-mini"></div>
                        {{ 'about_page.description'|trans|raw }}
                        <div class="spacer spacer-medium"></div>
                    </div>
                </div> <!-- END .split-right -->

                <div class="split-right split-half">
                    <div class="split-bg" style="background:url({{ asset('files/uploads/1690x1100.jpg') }}) center center; background-size:cover;"></div>
                </div> <!-- END .split-left -->
            </div> <!-- END .split-section -->
        </div>
    </section>
    <!-- ABOUT SECTION -->
{% endblock %}
