{% extends "::base.html.twig" %}

{% block meta_title %}
<title>{{'gallery.title'|trans }}</title>
{% endblock %}

{% block meta_description %}
    <meta name="description" content="{{'gallery.description'|trans}}" />
{% endblock %}

{% block body %}
    <!-- GALLERY SECTION -->
    <section id="gallery" class="notoppadding">

        <div class="section-inner">
        <!-- I choosed notoppadding in order to manage the spacing with the 'spacer' element. See below. -->

            <div id="lightgallery" class="masonry gallery-entries clearfix" data-maxitemwidth="800">
                {% for painting in paintings %}
                    <a href="{{ asset(painting.image) }}" class="masonry-item">
                        <img src="{{ asset(painting.thumbnail) }}" alt="{{ painting.title }}" />
                    </a>
                {% endfor %}
            </div> <!-- END .masonry -->
        </div>

    </section>

    <section id="pagination-section">
        <div class="section-inner align-center">
              <ul class="pagination">
                {% for i in range(1, nbPages) %}
                    <li class="page-item {% if page == i %} disabled {% endif %}"><a class="page-link" href="{{ path('app_gallery', {'page': i, '_locale': app.request.locale}) }}">{{ i }}</a></li>
                {% endfor %}
              </ul>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent()}}

    <script type="text/javascript">
        $(document).ready(function() {
            $("#lightgallery").lightGallery({
                'thumbnail' : false
            });
        });
    </script>
{% endblock %}
