{% extends "::base.html.twig" %}

{% block meta_title %}
<title>{{'gallery.title'|trans }}</title>
{% endblock %}

{% block meta_description %}
    <meta name="description" content="{{'gallery.description'|trans}}" />
{% endblock %}

{% block body %}
    <!-- GALLERY SECTION -->
    <section id="" class="notoppadding">
        <div class="section-inner">
            <div id="lightgallery" class="masonry">
                {% for painting in paintings %}
                <a href="{{ asset(painting.image) }}" class="masonry-item">
                    <img src="{{ asset(painting.thumbnail) }}" />
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent()}}

    <script type="text/javascript">
        $(document).ready(function() {
            $("#lightgallery").lightGallery({
            });
        });
    </script>
{% endblock %}
