{% extends "::base.html.twig" %}

{% block meta_title %}
<title>{{'gallery.title'|trans }}</title>
{% endblock %}

{% block meta_description %}
    <meta name="description" content="{{'gallery.description'|trans}}" />
{% endblock %}

{% block body %}
    <!-- GALLERY SECTION -->
    <section id="gallery" class="notoppadding">
        <div class="section-inner">
            <div id="lightgallery" class="masonry gallery-entries clearfix" data-maxitemwidth="500">
                {% for painting in paintings %}
                <a href="{{ asset(painting.image) }}" class="masonry-item">
                    <img src="{{ asset(painting.thumbnail) }}" />
                </a>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="pagination-section">
        <div class="section-inner align-center">
              <ul class="pagination">
                {% for i in range(1, nbPages) %}
                    <li class="page-item"><a class="page-link" href="{{ path('app_gallery', {'page': i, '_locale': app.request.locale}) }}">1</a></li>
                {% endfor %}
              </ul>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent()}}

    <script type="text/javascript">
        $(document).ready(function() {
            $("#lightgallery").lightGallery({
                'thumbnail' : false
            });
        });
    </script>
{% endblock %}
