{% extends "::base.html.twig" %}

{% block meta_title %}
<title>{{'gallery.title'|trans }}</title>
{% endblock %}

{% block meta_description %}
    <meta name="description" content="{{'gallery.description'|trans}}" />
{% endblock %}

{% block body %}
    <!-- GALLERY SECTION -->
    <section id="gallery" class="notoppadding">

        <div class="section-inner">
        <!-- I choosed notoppadding in order to manage the spacing with the 'spacer' element. See below. -->

            <div id="lightgallery" class="masonry gallery-entries clearfix" data-maxitemwidth="500">
                {% for painting in paintings %}
                    <div class="masonry-item">
                        <a href="{{ asset(painting.image) }}">
                            <img src="{{ asset(painting.thumbnail) }}" alt="{{ painting.title }}" />
                        </a>
                    </div>
                {% endfor %}
            </div> <!-- END .masonry -->
        </div>

    </section>

    <section id="pagination-section">
        <div class="section-inner align-center">
              <ul class="pagination">

                    {% if page > 1 and nbPages > 1 %}
                    <li class="page-item"><a class="page-link" href="{{ path('app_gallery', {'page': page - 1, '_locale': app.request.locale}) }}"> <i class="fa fa-angle-left"></i> &nbsp;&nbsp;Page précédente</a></li>
                    {% endif %}
                    {% if nbPages > page %}
                    <li class="page-item"><a class="page-link" href="{{ path('app_gallery', {'page': page + 1, '_locale': app.request.locale}) }}">Page suivante <i class="fa fa-angle-right"></i></a></li>
                    {% endif %}
              </ul>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent()}}

    <script type="text/javascript">
        $(document).ready(function() {
            $("#lightgallery").lightGallery({
                'thumbnail' : false,
                'selector' : 'a'
            });
        });
    </script>
{% endblock %}
