{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <h3>Paintings list</h3>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Thumbnail</th>
                <th>Image</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for painting in paintings %}
            <tr>
                <td><a href="{{ path('painting_show', { 'id': painting.id }) }}">{{ painting.id }}</a></td>
                <td>{{ painting.title }}</td>
                <td>{{ painting.thumbnail }}</td>
                <td>{{ painting.image }}</td>
                <td>{% if painting.createdAt %}{{ painting.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('painting_show', { 'id': painting.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('painting_edit', { 'id': painting.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('painting_new') }}">Create a new painting</a>
        </li>
    </ul>
{% endblock %}
